.vs/
Simple2DBarSeriesTutorial_WF/bin/
Simple2DBarSeriesTutorial_WF/obj/
Simple2DBarSeriesTutorial_WPF_NB/bin/
Simple2DBarSeriesTutorial_WPF_NB/obj/
Simple2DBarSeriesTutorial_WPF_SB/bin/
Simple2DBarSeriesTutorial_WPF_SB/obj/
